.saveEntryWrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    height: 10%;

    margin-left: 3px;
    padding: 10px;
    background-color: rgba(145, 145, 145, 50%);
    border-radius: 1rem;
    border-width: 2px;
    border-style: solid;
}

.saveEntryWrapper:hover {
    background-color: rgba(145, 145, 145, 70%);
    border-color: rgb(60, 0, 0);
    border-width: 5px;
}

.saveName {
    display: block; /* doesn't do anything but  */
}


.noteWrapper {
    background-color: gray;
    border-radius: 1rem;
    border-color: black;
    border-width: 2.5px;
    border-style: solid;
    width: max(100px, 50%);
    max-height: 50px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.notePreview {
    width: 100%;
}

.selectedSave {
    background-color: rgb(60, 0, 0);
    border-radius: 1rem;
    border-color: white;
}