.archiveContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(44, 43, 43);
}

.archiveList {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: none;
    align-content: space-around;
    height: 100%;
}