.appHeader {
    height: fit-content;
    background-color: #500000;
    color: rgb(224, 222, 222);
    font-size: 25pt;
    padding: 10px;
    padding-top: 25px;
}

.headerContent {
    margin-left: 10px;  
}

.seriesTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titleNumeral {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.subTitle {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}